<div class="row">
  <div class="col-md-8 tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#my-wiki" data-toggle="tab">My Wikis</a>
      </li>
      <li>
        <a href="#shared-wiki" data-toggle="tab">Shared Wikis</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="my-wiki" class="tab-pane active">
        <%= render partial: 'wikis/wiki', locals: { wikis: @wikis } %>

        <%= paginate @wikis, param_name: :my_wikis %>

        <% if policy(Wiki.new).create? %>
          <div>
            <%= link_to 'New wiki', new_wiki_path, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <div id="shared-wiki" class="tab-pane">
        <%= render partial: 'wikis/wiki', locals: { wikis: @shared_wikis } %>

        <%= paginate @shared_wikis, param_name: :shared_wikis %>
      </div>
    </div>
  </div>
</div>