<% wikis.each do |wiki| %>
  <div class='wiki-<%= "#{wiki.id}" %>'>
    <%= link_to wiki.title, wiki %>
    
    <div>
      <small>
      <% if policy(wiki).update? %>
        <%= link_to 'Edit', edit_wiki_path(wiki) %>
      <% end %>
      <% if policy(wiki).destroy? %>
        | <%= link_to 'Delete', wiki, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </small>
    </div>
    
    <p><%= render partial: 'wikis/wiki_status', locals: { wiki: wiki } %></p>
    <hr>
  </div>
<% end %>

    