<ul class="nav nav-tabs">
  <li><%= link_to 'Blocidpedia', root_path %></li>
  <li><%= link_to 'About', '#' %></li>

  <div class="pull-right user-info">
    <% if current_user %>
      <%= link_to (current_user.name || current_user.email), '#' %>
      <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-xs' do %>
        <span class="glyphicon glyphicon-log-out"></span>
      <% end %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
  </div>
</ul>
